<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SisVetor - Performance Tests</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<script>
  function handleGenerateReport() {
    axios.post('/report')
      .then(response => {
        alert('Relatório gerado. Redirecionando...');
        window.location.href = '/report';
      })
      .catch(err => {
        alert(err.response.data.message);
        console.log(err.response.data.message);
      });
  }

  function handleLaunchTest() {
    axios.post('/test')
      .then(response => {
        alert('O teste terminou. Gere o relatório para visualizar o resultado!');
      })
      .catch(err => {
        alert(err.response.data.message);
        console.log(err.response.data.message);
      });
  }
</script>

<body>
  <div class="container">
    <button type="button" class="btn btn-primary" onclick="handleLaunchTest()">
      Iniciar teste de Performance
    </button>
    <button type="button" class="btn btn-primary" onclick="handleGenerateReport()">
      Gerar Relatorio
    </button>
  </div>
</body>

</html>